argcomplete==1.12.0
asgiref==3.3.4
autopep8==1.5.7
Beaker==1.10.0
beautifulsoup4==4.9.3
blivet==3.3.3
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
configobj==5.0.6
cryptography==3.4.6
dasbus==1.4
decorator==4.4.2
distro==1.5.0
Django==3.2.3
django-adminlte-3==0.1.6
django-crispy-forms==1.11.2
django-widget-tweaks==1.4.8
humanize==0.5.1
idna==2.10
ifaddr==0.1.7
langtable==0.0.54
lxml==4.6.3
MarkupSafe==1.1.1
mysqlclient==1.4.6
numpy==1.20.1
numpy-stl==2.11.2
olefile==0.46
packaging==20.9
Paste==3.5.0
pexpect==4.8.0
pid==2.2.3
Pillow==8.1.2
ply==3.11
productmd==1.32
progressbar2==3.52.1
psutil==5.8.0
ptyprocess==0.6.0
pycodestyle==2.7.0
pycparser==2.20
pycrypto==2.6.1
pyenchant==3.2.0
pykickstart==3.32
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.9.0
pyserial==3.4
PySocks==1.7.1
python-augeas==0.5.0
python-dateutil==2.8.1
python-gettext==4.0
python-utils==2.4.0
pytz==2021.1
pyudev==0.22.0
pyxdg==0.27
PyYAML==5.4.1
requests==2.25.1
requests-file==1.5.1
requests-ftp==0.3.1
scipy==1.6.2
simpleline==1.8
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
Tempita==0.5.1
toml==0.10.2
urllib3==1.25.10
zeroconf==0.28.8
