{% extends "admin/adminlte.html" %}
{% load static %}
{% load i18n static %}
{% block mainContent %}

    <div class="text-right">
        <a href="{% url 'dashboard.posts.new' %}" class="btn btn-info">
            <i class="fa fa-plus"></i> <strong>Post</strong>
        </a>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th scope="col">Date</th>
            <th scope="col">Category</th>
            <th scope="col">Author</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Tag</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.body }}</td>
                <td>{{ post.date }}</td>
                <td>{{ post.category }}</td>
                <td>{{ post.author }}</td>
                <td>{{ post.thumbnail }}</td>
                <td>{{ post.category }}</td>
                <td>
                    <a href="{% url 'dashboard.posts.edit' post.id %}" class="btn btn-success"><i class="far fa-edit"></i></a>
                    <a href="{% url 'dashboard.posts.delete' post.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

