{% extends "admin/adminlte.html" %}
{% load static %}
{% load i18n static %}
{% block mainContent %}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Category Name</th>
        <th><a href="new/" class="btn btn-info"><i class="fa fa-plus"></i>
            <strong>Category</strong></a>
    </tr>
    </thead>

    <tbody>
    {% for category in categories %}
    <tr>
        <td>{{category.name}}</td>
        <td>
            <a href="edit/{{category.id}}" class="btn btn-success"><i class="far fa-edit">Edit</i></a>
            <a href="delete/{{category.id}}" class="btn btn-danger"><i class="far fa-trash-alt"> Delete</i></a>
        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>

{% endblock %}
