{% extends "admin/adminlte.html" %}

{% load static %}
{% load i18n static %}
{% block mainContent %}

    <div class="text-right">
        <a href="{% url 'dashboard.words.new' %}" class="btn btn-outline-info"><i class="fa fa-plus"></i>
            <strong>Word</strong></a>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Word</th>
            <th scope="col">Controls</th>
        </tr>
        </thead>
        <tbody>
        {% for word in word %}
            <tr>
                <td>{{ word.word }}</td>
                <td>
                    <a href="{% url 'dashboard.words.edit' word.id %}" class="btn btn-outline-warning"><i
                            class="far fa-edit"></i></a>
                    <a href="{% url 'dashboard.words.delete' word.id %}" class="btn btn-outline-danger"><i
                            class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

