{% extends "./base.html" %}

{% block content %}

                <div class="container m-5">
                    <div class="row same-height justify-content-center">
                        <div class="col-md-12 col-lg-5">
                        </div>
                        <div class="col-md-12 col-lg-7">
                            <div class="post-entry text-center">
                                <h1 class="">About Us</h1>
                                <p class="lead mb-4 text-dark text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, adipisci?</p>
                            </div>
                        </div>
                    </div>
                </div>


            <div class="site-section bg-light">
                <div class="container">
                    <div class="row text-justify">
                        <div class="col-md-6 mr-auto ml-5 order-md-1">
                            <h2>We Love To Explore</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea voluptate odit corrupti vitae cupiditate explicabo, soluta quibusdam necessitatibus, provident reprehenderit, dolorem saepe non eligendi possimus autem repellendus nesciunt, est deleniti libero recusandae officiis. Voluptatibus quisquam voluptatum expedita recusandae architecto quibusdam.</p>
                            <ul class="ul-check list-unstyled success">
                                <li>Onsectetur adipisicing elit</li>
                                <li>Dolorem saepe non eligendi possimus</li>
                                <li>Voluptate odit corrupti vitae</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-section">
                <div class="container">
                    <div class="row mb-5 justify-content-center">
                        <div class="col-md-5 text-center">
                            <h2>Meet The Team</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus commodi blanditiis, soluta magnam atque laborum ex qui recusandae</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-lg-4 mb-5 text-center">
                            
                            <h2 class="mb-3 h5">Sara Mohamed</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum neque nobis eos quam necessitatibus rerum aliquid est tempore, cupiditate iure at voluptatum dolore, voluptates. Debitis accusamus, beatae ipsam excepturi mollitia.</p>

                            <p class="mt-5">
                                <a href="#" class="p-3"><span class="icon-facebook"></span></a>
                                <a href="#" class="p-3"><span class="icon-instagram"></span></a>
                                <a href="#" class="p-3"><span class="icon-twitter"></span></a>
                            </p>
                        </div>

                        <div class="col-md-6 col-lg-4 mb-5 text-center">
                            
                            <h2 class="mb-3 h5">Riham Waleed/h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum neque nobis eos quam necessitatibus rerum aliquid est tempore, cupiditate iure at voluptatum dolore, voluptates. Debitis accusamus, beatae ipsam excepturi mollitia.</p>

                            <p class="mt-5">
                                <a href="#" class="p-3"><span class="icon-facebook"></span></a>
                                <a href="#" class="p-3"><span class="icon-instagram"></span></a>
                                <a href="#" class="p-3"><span class="icon-twitter"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-lg-4 mb-5 text-center">
                            
                            <h2 class="mb-3 h5">Al Shimaa Safwat</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum neque nobis eos quam necessitatibus rerum aliquid est tempore, cupiditate iure at voluptatum dolore, voluptates. Debitis accusamus, beatae ipsam excepturi mollitia.</p>

                            <p class="mt-5">
                                <a href="#" class="p-3"><span class="icon-facebook"></span></a>
                                <a href="#" class="p-3"><span class="icon-instagram"></span></a>
                                <a href="#" class="p-3"><span class="icon-twitter"></span></a>
                            </p>
                        </div>

                        <div class="col-md-6 col-lg-4 mb-5 text-center">
                            
                            <h2 class="mb-3 h5">Mohamed Atif</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum neque nobis eos quam necessitatibus rerum aliquid est tempore, cupiditate iure at voluptatum dolore, voluptates. Debitis accusamus, beatae ipsam excepturi mollitia.</p>

                            <p class="mt-5">
                                <a href="#" class="p-3"><span class="icon-facebook"></span></a>
                                <a href="#" class="p-3"><span class="icon-instagram"></span></a>
                                <a href="#" class="p-3"><span class="icon-twitter"></span></a>
                            </p>
                        </div>

                        <div class="col-md-6 col-lg-4 mb-5 text-center">
                            
                            <h2 class="mb-3 h5">Islam Ahmed</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum neque nobis eos quam necessitatibus rerum aliquid est tempore, cupiditate iure at voluptatum dolore, voluptates. Debitis accusamus, beatae ipsam excepturi mollitia.</p>

                            <p class="mt-5">
                                <a href="#" class="p-3"><span class="icon-facebook"></span></a>
                                <a href="#" class="p-3"><span class="icon-instagram"></span></a>
                                <a href="#" class="p-3"><span class="icon-twitter"></span></a>
                            </p>
                        </div>

                        <div class="col-md-6 col-lg-4 mb-5 text-center">
                            
                            <h2 class="mb-3 h5">Salah Gamal</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum neque nobis eos quam necessitatibus rerum aliquid est tempore, cupiditate iure at voluptatum dolore, voluptates. Debitis accusamus, beatae ipsam excepturi mollitia.</p>

                            <p class="mt-5">
                                <a href="#" class="p-3"><span class="icon-facebook"></span></a>
                                <a href="#" class="p-3"><span class="icon-instagram"></span></a>
                                <a href="#" class="p-3"><span class="icon-twitter"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="site-section bg-light">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col col-md-6">
                            <h2>Learn From Us</h2>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea voluptate odit corrupti vitae cupiditate explicabo, soluta quibusdam necessitatibus, provident reprehenderit, dolorem saepe non eligendi possimus autem repellendus nesciunt, est deleniti libero recusandae officiis. Voluptatibus quisquam voluptatum expedita recusandae architecto quibusdam.</p>

                            <ul class="ul-check list-unstyled success">
                                <li>Onsectetur adipisicing elit</li>
                                <li>Dolorem saepe non eligendi possimus</li>
                                <li>Voluptate odit corrupti vitae</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-footer">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <h3 class="footer-heading mb-4">About Us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat reprehenderit magnam deleniti quasi saepe, consequatur atque sequi delectus dolore veritatis obcaecati quae, repellat eveniet omnis, voluptatem in. Soluta, eligendi, architecto.</p>
                        </div>
                        <div class="col-md-3 ml-auto">
                            <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
                            <ul class="list-unstyled float-left mr-5">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Advertise</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Subscribes</a></li>
                            </ul>
                            <ul class="list-unstyled float-left">
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">Nature</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">


                            <div>
                                <h3 class="footer-heading mb-4">Connect With Us</h3>
                                <p>
                                    <a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                                    <a href="#"><span class="icon-twitter p-2"></span></a>
                                    <a href="#"><span class="icon-instagram p-2"></span></a>
                                    <a href="#"><span class="icon-rss p-2"></span></a>
                                    <a href="#"><span class="icon-envelope p-2"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
{% endblock %}