{% extends "./base.html" %} {% load widget_tweaks %} {% block content %}
<div class="my-5">
  <div class="container my-5">
    <div class="row m-auto my-5 text-center d-flex justify-content-center">
      <h2>{{status}} Post</h2>
    </div>
    <div
      class="
        row
        m-auto
        my-5
        text-center
        d-flex
        justify-content-center
        text-dark
      "
    >
      <form method="post" enctype="multipart/form-data">
        <div class="form-group">
          {% csrf_token %} Title
          <p>{{ post.title|add_class:'form-control' }}</p>
          Content
          <p>{{ post.body|add_class:'form-control'|attr:"rows:7" }}</p>
          Tags
          <p>{{ post.tags|add_class:'form-control' }}</p>
          <p>
            <a data-toggle="collapse" href="#ddd" role="button">Other Tag </a>
          </p>

          Category
          <p>{{ post.category|add_class:'form-control' }}</p>

          <p>{{ post.thumbnail|add_class:'form-control-file' }}</p>
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
      </form>
    </div>

    <div class="collapse" id="ddd">
      <form action="/posts/addtag" method="post" class="p-5 bg-light">
        {%csrf_token%}

        <div class="form-group">
          <label for="othertag">add tag</label>
          <input
            type="textarea"
            name="othertag"
            cols="30"
            rows="4"
            class="form-control"
            required
          />
          <!--  <textarea name="" id="message" cols="30" rows="4" class="form-control"></textarea> -->
        </div>

        <div class="form-group">
          <input type="submit" value="ADD" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
